.page-header{
	background: url(../img/img1.jpg) no-repeat 50% 50%;
	padding-top: 35px;
	background-size: cover;
	height: 420px;
}
.centered{
	text-align: center;
}
.header-top{
	margin-bottom:145px; 
}
.container{
	width: 1020px;
	margin: 0 auto; 
}
.clearfix{
    content: "" !important;
    display: table!important;
    clear: both!important;
}    
.main-nav{
	margin: 0;
	margin-top:18px;
	margin-left:100px;
	padding: 0;
	float: left;  
	width: 520px;
}
.main-nav li{
	float: left;
	margin-right:50px;
	text-transform:uppercase;   
}
.main-nav li:last-child{
	margin-right: 0;
}
.main-nav a:hover{
	text-decoration: underline;
}
.main-nav a:active{
	color: rgba(255, 255, 255, 0.3);
}
.promo{
	font-weight:bold;
	font-family:"Georgia", serif;
	font-size:45px;
	line-height:55px ;
	text-align: center;
	letter-spacing: 1px;
	color: #fff;
}
.btn{
	width:146px;
    word-wrap:break-word;
    text-align:center;
    font:inherit;
    border-radius:2px;
	display: inline-block;
	vertical-align: top;
	border:2px solid #a38b70;
	padding: 10px;
	color:#a38b70;
	text-decoration:none;
	text-transform:uppercase;   
}
.btn:hover{
	border-color: #8d745a;
	color:#8d745a; 
}
.btn:active{
	border-color: #8d745a;
	color:rgba(141, 116, 90, 0.3); 
}
#Main .columns{
	margin-top: 25px;
	padding-bottom: 50px;
}
#features .feature-item{
	border-left: 2px solid #d9d9d9;
}
#features .feature-item:first-child{
	border-left-color: transparent; 
}
.feature-item  p{
	margin: 0;
	font-size: 16px;
}
#features  .feature-title{
	margin:0;
	margin-bottom: 20px; 
	font-weight:bold; 
	font-family:"Georgia",serif;
	font-size:30px;
	line-height:30px;
	color:#a38b70;   
}
#AboutTour{
	padding-top:70px;
	padding-bottom:90px;  
	background:#F5F5DC;
	width:100%; 
}

#AboutTour .section-title {
    font-weight: bold;
    font-size: 35px;
    line-height: 55px;
    font-family: "Georgia", serif;
    color: #a38b70;
    padding-left: 80px;
}
#AboutTour .to-catalog{
	margin-left: 780px;
	font-size: 16px;
	line-height: 16px;
	color: #333;
	font-family: "Arial", serif;
}
#AboutTour .to-catalog:hover{
	color:#333; 
	background: #d8745a;
}
#AboutTour .catalog-item{
	padding-left:100px;
}
.catalog-item h3{
	margin:0;
	margin-bottom:5px;  
	color:#000;  
}
.item-price{
	margin-right:5px;
	color: #333;
}
#Form .section-title{
	font-weight: bold;
    font-size: 35px;
    line-height: 55px;
    font-family: "Georgia", serif;
    color: #a38b70;
    padding-left: 80px;
}
.feedback{
	padding-top:60px;
	padding-bottom:70px;  
}
.feedback .container{
	position: relative;
}
.feedback .section-title{
	max-width: 500px;
}
.feedback-tip {
	position: absolute;
	top: 0;
	right:0;
	max-width: 500px;
    font-size: 16px;
}
.feedback-form {
    width:630px;
    color: #333;
}
.feedback-form img{
	position: absolute;
	top: 20;
	right:-80px;
}
.feedback-form-group{
	width:630px;
	padding: 10px 0; 
}
.feedback-form-group label{
	font-size: 12px;
	text-transform: uppercase;
}
.feedback-form-group input,
.feedback-form-group textarea{
	width:100%;
	height:54px;
	padding: 9px 15px;
	box-sizing:border-box;
	font:inherit;
	color:inherit;
	border:2px solid #d5d5d5;
}
.feedback-form-group input:hover,
.feedback-form-group textarea:hover{
	border-color:#5E95BF;
}
.feedback-form textarea{
	display:block;
	min-height:120px;
}
.feedback-form .btn{
	margin-bottom:40px;
	background:#a38b70;
	color:#fff;
}
.feedback-form .btn:hover{
	background:#d8745a;
}
.feedback-form .btn:active{
	color: rgba(255, 255, 255, 0.3);
}
.checkbox-area{
	margin-bottom:25px;
	padding:25px 0;
	padding-left:17px;
	border-bottom:1px solid #d5d5d5;
}
.checkbox-area input[type="checkbox"]{
	margin:0;
	margin-right:5px;
}
#Main .section{
	background: #F5F5DC;
}
#page-footer{
	background: #333;
	padding-top: 45px;
	padding-bottom: 50px;
}
#page-footer .footer-top{
	margin-bottom:5px;
}

.footer-top .button{
	float: right;
}

#page-footer .footer-middle{
	margin-bottom:50px;
	padding-top:50px;
}

#page-footer .footer-bottom{
	border-top:1px solid #5e5e5e;
}

#page-footer .footer-menu{
	padding-left: 100px;
}

.footer-menu h3{
	margin: 0;
	margin-bottom:20px;
	font-weight: bold;
    font-size: 24px;
    font-family: "Georgia", serif;
    color: #a38b70;
}

.footer-menu li{
	text-transform:uppercase;
}

.footer-menu a{
	color:#F5BCA9;
}

.footer-menu a:hover{
	color: #FF4000 ;
}

#page-footer .footer-bottom{
	padding-top: 50px;
}

.footer-bottom .footer-copyright{
	float: right;
    width: 236px;
    margin-top: 10px;
    color: #fff;
    text-transform: uppercase;
}

.footer-copyright a {
    color: #fff;
    
}

.footer-copyright a:hover {
    font-style: italic;
}

@media (max-width: 1024px){
	.promo {
		margin-left: -500px;
		margin-top: -50px;
	}
	.promo p {
		font-size: 15px;
		margin-top: 50px;
	}
	.feedback-form-group{
		width: 270px;
	}
	.feedback-form img{
		width: 150px;
		height: 250px;
		position: absolute;
		top: 100px;
		right: 550px;
	}
	.section .box{
		width: 430px;
		height: 190px;
		box-sizing: border-box;
    }
    .footer-top .button{
    	float: left;
    	margin-left: 75px;
    }
    .footer-bottom .footer-copyright{
    	float: left;
    	margin-left: 75px;
    }
}
@media (max-width: 992px){
	.main-nav{
		margin-left:10px; 
		float: left;
	}
	.promo {
		margin-left: -650px;
		margin-top: -25px;
	}
	.promo p{
		font-size: 10px;
	}
	.column{
		width: 300px;
	}
	.section .box{
		width: 300px;
		height: 290px;
		box-sizing: border-box;
    }
    .feedback-form img{
    	position: absolute;
    	top: 0;
    	right: 0;
	}
    .footer-top .button{
    	float: left;
    	margin-left: 135px;
    }
}